.clothes-main {
   margin-top: 100px;
   &__body {
      display: flex;
      height: 420px;
      @media (max-width: 1110px) {
         height: 300px;
      }
      @media (max-width: 990px) {
         flex-wrap: wrap;
         height: auto;
      }
   }
   &__item {
      flex-basis: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      @media (max-width: 990px) {
         flex-basis: 100%;
      }
      @media (max-width: 990px) {
         height: 300px;
      }
      @media (max-width: 520px) {
         height: 240px;
      }
      &--man {
         background-image: url("../images/clotches/man.jpg");
         &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(#d70808, 0.1);
         }
      }
      &--fit {
         background-image: url("../images/clotches/fit.jpg");
         &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(#000000, 0.1);
         }
      }
   }
   &__title {
      color: #ffffff;
      font-size: 48px;
      margin-bottom: 15px;
      position: relative;
      z-index: 2;
      @media (max-width: 520px) {
         padding: 0 15px;
         font-size: 30px;
         margin-bottom: 5px;
      }
   }
   &__more {
      color: #ffffff;
      position: relative;
      z-index: 2;
      &:after {
         background-color: #fff;
      }
   }
}
